@media screen and (min-width: 700px) {

    .movieContainer img {
        width: 100%;

        min-width: 400px;
        max-width: 500px;

    }

    .movieInfo {
        padding-left: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;

    }

    .moviePage {
        display: flex;
        flex-direction: column;
        padding-left: 35px;
        width: 100%;
    }

    .movieContainer {

        padding-top: 40px;
        display: flex;
        flex-direction: row;


        font-size: 30px;
    }

    .Title {
        font-size: 50px;
        text-align: center;
    }

    .moviePage a {
        color: #d25555;
        font-size: 35px;
        width: 270px;
        text-decoration: none;
    }
}

@media screen and (max-width: 700px) {

    .movieContainer img {
        width: 100%;
    }

    .movieInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;

    }

    .moviePage {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .movieContainer {

        padding-top: 40px;
        display: flex;
        flex-direction: column;


        font-size: 30px;
    }

    .Title {
        font-size: 35px;
        text-align: center;
    }

    .moviePage a {
        margin-top: 25px;
        color: #d25555;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 280px) {

    .movieContainer img {
        width: 100%;


    }

    .movieInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: normal;

    }

    .moviePage {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        width: 100%;
    }

    .movieContainer {

        padding-top: 40px;
        display: flex;
        flex-direction: column;


        font-size: 30px;
    }

    .Title {
        font-size: 35px;
        text-align: center;
    }

    .moviePage a {
        margin-top: 25px;
        color: #d25555;
        font-size: 20px;
        text-decoration: none;
    }
}

.moviePage a:hover {
    color: white;
    cursor: pointer;
}

.moviePage a:active {
    color: black;
}
